/* General Styles */
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
}

/* Header and navigation */
header {
    background-color: #4d81ce;
    box-shadow: 0px 0px 3px 1px #001f44;
}

svg {
    max-width: 6.25rem;
    margin: 1rem;
    box-shadow: 0px 0px 3px 1px #001f44;
}